html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 25px;
}

* {
    box-sizing: border-box;
}

#container {
    margin: auto;
    max-width: 1000px;
    padding: 50px;
}

.lexeme-container {
    position: relative;
    border-bottom: 1px solid #cccccc;
    display: inline-flex;
    margin-bottom: 5px;
}

.lexeme-container:hover {
    border-color: blue;
    cursor: pointer;
}

.lexeme {
    visibility: hidden;
}

.lexeme-first-letter {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

#container.show-text .lexeme {
    visibility: visible;
}

#container.show-first-letters .lexeme-first-letter {
    visibility: visible;
}

.lexeme-container.show .lexeme {
    visibility: visible;
}

.lexeme-container.show .lexeme-first-letter {
    visibility: hidden!important;
}

/* Controls */

#controls-container {
    margin-top: 30px;
    display: flex;
}

#score-container {
    display: flex;
    margin-left: 30px;
}
