name: CI
on: [push]
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}

      - run: npm ci

  lint:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}

      - run: npm ci

      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}

      - uses: actions/cache@v3
        with:
          path: ./coverage
          key: ${{ runner.os }}-coverage-${{ github.sha }}

      - run: npm ci

      - run: npm run test

  analyze:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ./coverage
          key: ${{ runner.os }}-coverage-${{ github.sha }}

      - name: Checkout karpov-kir GitHub actions
        uses: actions/checkout@v3
        with:
          repository: karpov-kir/github-actions
          path: ./karpov-kir-github-actions

      # Move outside of the root project folder to not mess up the project with redundant files
      - run: mv ./karpov-kir-github-actions ../karpov-kir-github-actions

      - name: SonarQube scan
        uses: ./../karpov-kir-github-actions/sonarqube-scan
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          sonar-host-url: ${{ secrets.SONAR_HOST_URL }}
